.сounteiner {
  width: 350px;
  border-radius: 10px;
  border: 1px solid rgb(243, 243, 243);
  background-color: rgb(245, 163, 56);
  padding: 8px;
  margin: 0 auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

h2 {
  margin-bottom: 0px;
}

h3 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
}

.button_gender {
  display: flex;
  justify-content: center;
}

.calculation_button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.radio_input {
  margin: 5px;
  padding: 5px;
}

.initial_data {
  width: 20%;
}